<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Online - Elimina</title>
    <link rel="stylesheet" href="/CSS/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <header>
            <%- include ('../partials/header') %>
        </header>
        <div class="topnav">
            <a class="active" href="/domande">Home</a>
            <a href="/aggiungidom">Aggiungi</a>
            <a href="/modificadom">Modifica</a>
            <a href="/about">About</a>
            <div class="search-container">
                <form action="/cercadom" method="GET">
                    <input type="text" placeholder="Cerca..." name="id">
                    <button type="submit">Cerca</button>
                </form>
            </div>
        </div>

        <div class="content">
            <h1>Elimina la domanda</h1>
            <form action="/eliminadom" method="POST">
            <p>
            <label>Id</label>
            <input class="txt" name="id" type="text" placeholder="Id_domanda"></p>
            <p>
            <button class="button1">Elimina</button>
        </form>
        </div>
        <footer class="footer">
            <%- include ('../partials/footer') %>
        </footer>
    </div>
</body>

</html>